<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795199843316-fe14g5hvckk6lmtrvkg6ul51l7kesnks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795199843316-fe14g5hvckk6lmtrvkg6ul51l7kesnks</string>
	<key>API_KEY</key>
	<string>AIzaSyApQwl_pBuNacC2b35fvKDclenaE1tPth4</string>
	<key>GCM_SENDER_ID</key>
	<string>795199843316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moment9</string>
	<key>PROJECT_ID</key>
	<string>moment9</string>
	<key>STORAGE_BUCKET</key>
	<string>moment9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795199843316:ios:6bcc41e75c189b314fa7a1</string>
</dict>
</plist>